<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>RDV - Relatório de Viagens</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
	</head>
	<body>		
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-8 my-5">
		  			<a href="/"><h2>Sistema RDV - Relatório de Viagem</h2></a>
		  			<p>Lista de viagens</p>
		  		</div>
			</div>
			<div class="col btn my-5">
		      <a class="btn btn-outline-primary" href="form_inserir_viagem">Inserir Viagem</a><br>
		    </div>	
		  <table class="table table-hover" width="100%">
					{% if lista %}
				<tr>
					<th scope="col">Nome</th>
					<th>Local</th>
					<th>Início</th>
					<th>Volta</th>
					<th></th>
					<th></th>
				</tr>
		      			{% for viagem in lista: %}
					
				<tr>
					<td>{{ viagem.nome }}</td>
					<td>{{ viagem.local }}</td>
					<td>{{ viagem.ida }}</td>
					<td>{{ viagem.volta }}</td>
	    			<td>
	    				<a class="btn btn-outline-success ml-5 mb-2" href="/form_alterar_viagem?nome={{ viagem.nome }}">Alterar</a>
	    			</td>
					<td>
	    				<a class="right btn btn-outline-danger ml-3 mb-2" href="/excluir_viagem?nome={{ viagem.nome }}">Excluir</a>
					</td>
						{% endfor %}
					{% else %}
				
					<td>Não há dados para mostrar</td>
				
					{% endif %}
				</tr>
		  </table>
		</div>





		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>